<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gdpu.mapper.CartVoMapper">


    <select id="getUserCart" resultType="com.gdpu.entity.vo.CartVo">
        select c.id,c.nums,g.title,g.price,g.goods_img,g.cat_id,u.name,u.phone
        from cart c
                 join goods g on c.goods_id = g.goods_id
                 join user u on c.user_id = u.user_id
        where c.user_id = #{userId}
    </select>
</mapper>
